html {
  height: 100%
}

body {
  height: 100%;
  margin: 0;
  padding: 0
}

#map-canvas {
  height: 100%
}

.gm-style-iw{
  white-space: nowrap;
}

.title {
  font-weight: bold;
}

#pointList {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-family: 'Roboto', sans-serif;
}

ul {
  list-style: none;
}

ul li {
  display: block;
  text-decoration: none;
  color: #000000;
  background-color: #FFFFFF;
  line-height: 30px;
  border-bottom: solid 1px #CCCCCC;
  padding: 0 10px;
  cursor: pointer;
}

.selected, ul li:hover {
  color: #FFFFFF;
  background-color: #2C70ED;
}

#list-toggle {
  float: right;
  padding: 5px;
  border-radius: 25px;
  text-align: center;
  font-size: 2.0em;
  background-color: #2C70ED;
  color: white;
  cursor: pointer;
}

input {
  -moz-appearance: none;
  -webkit-appearance: none;
  font-family: 'Roboto', sans-serif;
  display: block;
  line-height: 30px;
  font-size: 1.0em;
  margin-left: 39px;
  margin-bottom: -16px;
  width: 86%;
}

#flickr {
  position: absolute;
  width: 60px;
  height: 60px;
  bottom: 10px;
  left: 50%;
  margin-left: -30px;
  box-shadow: rgba(0,0,0,.5) 2px 2px 5px;
  border-radius: 10px;
  cursor: pointer;
}

.right {
  float: right;
}

.modal {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,.5);
  z-index: 100;
}

.lightbox {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  box-shadow: rgba(0,0,0,.5) 4px 4px 10px;
  z-index: 101;
}

.lightbox img {
  display: block;
}

.lightbox a {
  width: 44px;
  border-radius: 44px;
  position: absolute;
  top:-20px;
  right: -20px;
  background-color: #2C70ED;
  color: #fff;
  font-family: sans-serif;
  font-size: 2.0em;
  line-height: 43px;
  text-align: center;
  text-decoration: none;
}

.no-map {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #444;
  z-index: 102;
  color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.0em;
  text-align: center;
}

@media only screen and (max-width: 600px){
  #flickr {
    left: 10px;
    margin-left: 0;
  }

  .lightbox {
    box-shadow: none;
  }

  .lightbox img {
    width: 100%;
  }

  .lightbox a {
    right: 0;
  }
}
