/*
    Google Map
*/
html, body { 
  height: 100%; 
  margin: 0; 
  padding: 0; 
}

#map {
  height: 100%;
}

/*
    Customize Material Design Lite
*/
.mdl-textfield {
  margin-left: 10px;
  padding: 10px 0;

}

/*
    Info Window
*/
.gm-title {
  font-weight: 400;
  margin-bottom: 1px;
}

.gm-site {
  line-height: 18px;
  padding-top: 6px;
  font-weight: 500;

}

.gm-site a {
  text-decoration: none;
}

.gm-site a:hover {
  text-decoration: underline;
}

.gm-addr {
  line-height: 18px;
}